footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 196px;

    h3{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
        margin: 47px 0 0 0;
    }

    .icon-ct{
        display: flex;
        width: 30%;
        justify-content: space-around;
        
        a:hover{
            img{
                fill: #572EE5;
            }
        }
    }
    .violet-line{
        background-color: #572EE5;
        height: 5px;
        width: 100%;
        display: block;
    }
}