@import "variables";

.trends-sc{
    background: #F3F5F8;
    width: 100%;
    height: 430px;
h2{
    @include lyrics(0, $font-montserrat, var(--violet), 20px, 700, 30px);
    text-align: center;
    margin-top: 2em;
    margin-bottom: 7px;

}
p{
    @include lyrics(0, $font-roboto, var(--black), 16px, 400, 23px);
    width: 60%;
    text-align: center;
    margin: auto;
}


.load-cs{
    width: 100%;
    margin: auto;
    overflow: hidden;
    ul{
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        padding: 0;
        width: 400%;
        animation: slider 20s infinite alternate;
        animation-timing-function: linear;

        li{ 
            list-style: none;
            height: 10em;
            width: 100%;
            margin: 1em;
            display: block;
            box-sizing: border-box;

            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
    }
    @keyframes slider {
        0%{

            margin-left: 0;
        }
        
        20%{
        
            margin-left: 0;
        }

        25%{
            margin-left: -100%;
        }

        45%{
            margin-left: -100%;
        }

        50%{
            margin-left: -200%;
        }

        70%{
            margin-left: -200%;
        }

        75%{
            margin-left: -300%;
        }

        100%{
            margin-left: -300%;
        }
        
    }
}

}