/*==== Import Files ====*/
@import "header";
@import "main";
@import "trending";
@import "footer";


.hidden {
  display: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  